// home.jade
extends layout

block append head

block append navbar
  #homepageImage.container
    img(src="images/beautiful_avocadoes.jpg")
    // User Login Box
    div.container
      h1 Hello!
      if user
        p Welcome, #{user.fullName}
        p
          a.small(href="profile") Edit my profile
          form(action='/logout', method='POST')
          button.btn.btn-default(type="submit") Logout
      else
        p Welcome to Snacker, your personal food recommender. Ready to get started?
        p
          a.btn.btn-primary(href="/register") Login now
        p
          span.small Don't have an account?
          span &nbsp;
            a(href="/register") Register now